// Variables
:root {
  //colors
// --black: rgb(17, 17, 17);
// --white: rgb(255, 249, 223);
// --menu-color: yellow;

--black: #1A1A1D;
--white: #FEFFFF;
--menu-color: #C3073F;
--accent-color-1: #190061;
--accent-color-2: #240090;
--accent-color-3: #0C0032;
--accent-color-4: #282828;

//fonts
--main-font: 'Barlow', sans-serif;
}

#root {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
  font-weight: 300;
}

li {
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  font-family: var(--main-font);
}

.uppercase {
  text-transform: uppercase;
}

.container {
  padding: 100px;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--black);
}