// Variables
:root {
--black: rgb(17, 17, 17);
--white: rgb(255, 249, 223);
--primary-color: yellow;
--main-font: 'Barlow', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
  font-weight: 300;
}

a {
  text-decoration: none;
  font-family: var(--main-font);
}

.uppercase {
  text-transform: uppercase;
}